.form {
  height: 4rem;
  display: flex;
  justify-content: center;
}

.form input {
  font: inherit;
  display: inline-block;
  width: 80%;
  padding: 1rem;
  margin: 0.5rem;
  border: 2px solid rgb(99, 96, 105);
  border-radius: 48px;
  color: rgb(53, 17, 158);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.form input:focus {
  outline: none;
  background-color: rgb(249, 241, 247);
}

.add-task-btn {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  background-color: rgb(231, 189, 221);
  border: 2px solid rgb(99, 96, 105);
  border-radius: 32px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.add-task-btn:hover {
  background-color: rgb(245, 203, 235);
  cursor: pointer;
}

.add-task-btn span {
  color: rgb(71, 69, 74);
}

.form.error input:focus {
  background-color: rgb(248, 136, 136);
}
