.card {
  min-height: 32rem;
  width: 50%;
  margin: 4rem auto;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .card {
    width: 70%;
  }
}
